bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.log
*.db
*.db-shm
*.db-wal

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
docker-compose.override.yml
docker-compose.yml
.env
*.pid

appsettings.json
appsettings.*.json

